@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.section-head {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #1f1f1f;
}
.button {
  background: #50a0c8;
  border-radius: 5px;
  padding: 13px 30px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
  border: none;
  outline: none;
  white-space: nowrap;
}
.btn-read {
  background: none;
  border: 1px solid #50a0c8;
  color: #50a0c8;
  padding: 0.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn-read i {
  margin-left: 0.5rem;
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.col-lg-4 {
  grid-column: span 4;
}
.col-lg-6 {
  grid-column: span 6;
}
.col-lg-8 {
  grid-column: span 8;
}
.col-lg-3 {
  grid-column: span 3;
}

.pl-4 {
  padding-left: 4rem;
}
.pr-4 {
  padding-right: 4rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-2 {
  margin-top: 2rem;
}
.d-flex {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.topnav {
  overflow: hidden;
  display: inline;
}
nav img{
  vertical-align: middle;
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: #818181;
}
nav .icon {
  display: none;
}
.welcome {
  min-height: 543px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  background-image: url(./assets/home-bg.jpg);
  background-repeat: no-repeat;
}
.welcome::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}
.welcome::after {
  content: "";
  background-image: url(./assets/home-img.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}
#welcome-container {
  z-index: 99;
  position: relative;
  width: 100%;
}
#welcome-container h1 {
  margin-bottom: 16px;
}
#welcome-container h2 {
  margin-bottom: 20px;
}
#welcome-container p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.welcome img {
  width: 100%;
  height: 543px;
  object-fit: cover;
}
.welcome h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #50a0c8;
}
.welcome h2 {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 66px;
  color: #1f1f1f;
}
.welcome p,
.products .content p {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
}
.get-started h2 {
  margin-bottom: 96px;
}

.get-started {
  background: url(./assets/collab-tech.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30%;
}
/* .get-started img {
  width: inherit;
} */
.get-started p {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
  margin-bottom: 34px;
}
.products {
  margin-top: 114px;
  padding-bottom: 100px;
}
.products h2 {
  margin-bottom: 9px;
}
.products p {
  margin-bottom: 60px;
}
.card .card-img {
  background: linear-gradient(0deg, #f4f4f4, #f4f4f4), #f7f7f7;
  display: grid;
  place-items: center;
  height: 195px;
  width: auto;
  border-radius: 10px 10px 0 0;
}
.card-title {
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.card-title a {
  color: #50a0c8;
  text-decoration: none;
  font-weight: 600;
  line-height: 30px;
}
.product-details {
  padding: 0;
}
.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  column-gap: 1.5rem;
  row-gap: 2rem;
}
.card {
  box-shadow: 0px 2px 8px rgba(80, 160, 200, 0.3);
  border-radius: 10px;
}
.case-studies {
  background: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.case-studies h2 {
  margin-bottom: 35px;
}
.case-studies p {
  margin-bottom: 20px;
  line-height: 26px;
  color: #636363;
}
.case-studies .contents h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f1f1f;
  text-align: left;
  margin-bottom: 20px;
}
.case-studies .contents a {
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #50a0c8;
  margin-bottom: 15px;
}
.case-studies .contents p {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
}
.case-studies img {
  width: 100%;
}
.case-studies .contents p,
.case-studies .contents a,
.case-studies .contents {
  text-align: left;
}
.fm {
  margin-bottom: 80px;
}
.posts {
  padding-bottom: 100px;
}
.posts h2 {
  margin-top: 100px;
  margin-bottom: 46px;
}
.post-cards {
  column-gap: 2rem;
}
.card-container {
  background: #f6f6f6;
  border-radius: 10px;
}
.card-container img {
  width: 100%;
}
.posts .btn-read {
  margin-top: 50px;
  margin-bottom: 10px;
}
.posts .content-container {
  padding: 20px;
}
.posts .content-container .date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #1f1f1f;
  margin-bottom: 18px;
}
.posts .content-container .post-note {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #636363;
  margin-top: 29px;
}
.posts .content-container a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #50a0c8;
  text-decoration: none;
}
.posts .content-container button {
  border: none;
  outline: none;
  background: none;
  font-weight: 600;
  line-height: 26px;
}
.contact {
  background: rgba(80, 160, 200, 0.1);
  padding-top: 60px;
  padding-bottom: 80px;
}
.contact img {
  width: 482px;
  height: 387px;
}
.contact h2 {
  margin-bottom: 65px;
}
.input-data {
  display: block;
}
.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form-container p {
  font-weight: 400;
  line-height: 26px;
  color: #636363;
  margin-bottom: 12px;
}
form input {
  height: 40px;
}
#mailId {
  width: 100%;
}
.name-input {
  display: flex;
  justify-content: space-between;
}
#firstName,
#lastName {
  width: 278px;
}
.inputs {
  background: #ffffff;
  border: 0.2px solid #bfbfbf;
  padding: 10px;
  margin-bottom: 20px;
}
.inputs:hover,
.inputs:active,
.inputs:focus {
  border: 0.5px solid #50a0c8;
}
textarea {
  height: 133px;
  width: 100%;
  resize: none;
}
footer {
  background: #1f1f1f;
  font-family: "Open sans", sans-serif;
  color: white;
  padding-bottom: 63px;
}
.footer {
  min-height: 404px;
  padding-top: 51px;
}
.footer .logo {
  width: 278px;
  height: 90.93px;
  margin-bottom: 7.07px;
}
.company-details {
  width: 278px;
}

.footer-container {
  height: 100%;
}
footer .social-media i {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 25px;
  width: 24px;
  height: 24px;
  margin-top: 42px;
}
footer .social-media i:hover {
  color: white;
}
.footer li {
  list-style: url(./assets/footer-arrow.png);
  margin-bottom: 20.7px;
}
footer a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
footer h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.company-details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.imp-links {
  min-height: 253px;
  padding-top: 33px;
}

.imp-links h2 {
  margin-bottom: 11px;
}
.imp-links a {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.sales-support {
  padding-top: 33px;
}
.sales-support a {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.sales-support img {
  margin-right: 24px;
  vertical-align: middle;
  display: inline-block;
}
.sales h2 {
  margin-bottom: 16px;
}
.support h2 {
  margin-bottom: 12px;
  margin-top: 35px;
}
#copyright {
  margin-top: 74px;
}
@media screen and (max-width: 1095px) {
  .contact img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1015px) {
  .nav-list a,
  nav button {
    margin-left: 2rem;
  }
}

/* nav bar responsive styling */
@media screen and (max-width: 926px) {
  .grid-col-6 {
    grid-template-columns: 100%;
  }
  .row-center {
    place-items: center;
  }
  nav {
    display: block;
    height: 100%;
  }
  nav .icon {
    position: relative;
    display: inline;
    float: right;
    top: 24px;
  }

  .list-items {
    display: none;
  }
  /* responsive navbar styling */
  .responsive-nav {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }
  .contact-btn{
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  /* welcome section */
  .welcome .content {
    order: 2;
  }
  .col-lg-4,
  .col-lg-8,
  .col-lg-6 {
    grid-column: span 12;
  }

  .case-studies img {
    width: 70%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .tasmania-img {
    order: 1;
  }
  .tasmania-content {
    order: 2;
  }
  .product-cards {
    grid-template-columns: repeat(2, 6fr);
  }
  .form-container {
    grid-template-columns: 100%;
  }
  .contact img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .card-container {
    width: 70%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 600px) {
  .welcome::after{
    display: none;
  }
  .product-cards {
    grid-template-columns: 100%;
  }
  .get-started img {
    width: 70%;
  }
  .get-start-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-input {
    display: block;
  }
  #firstName,
#lastName {
  width: 100%;
}

}
@media screen and (max-width:377px) {
  .container{
    padding-left: 5px;
    padding-right: 5px;
  }
.content-container{
  padding: 5px;
}
  .post-cards{
    display: block;
  }
  nav img{
    width: 150px;
    height: auto;
  }
  nav{
    padding-left: 5px;
    padding-right: 15px;
  }
  nav .icon{
    top: 15px;
  }
  .card img{
    width: 50%;
  }
  .get-start-img-cont img{
   left: 0;

  }
 .footer-container{
  display: block;
 }
 .company-details {
  width: 100%;
  height: 100%;
 }
 #footerLogo{
  width: 80%;
  height: auto;
 }
}